* {
    box-sizing: border-box;
}

:root {
    --primary: #0018ED;
    --mainFont: #2D2E3A;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--mainFont);
}

.header {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}

.header__logo {
    display: flex;
    gap: 0 48px;
}

.header_button {
    display: flex;
    align-items: center;
    gap: 0 8px;
    background: none;
    color: var(--primary);
    border: 1px solid var(--primary);
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    padding: 16px 32px;
    border-radius: 32px;
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.header__menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;

}

.header__menu ul > li {
    list-style: none;

}

.header__menu ul > li > a {
    text-decoration: none;
    color: var(--mainFont);
}

.header__menu > a {
    display: flex;
    gap: 8px;
    text-decoration: none;
    align-items: center;
}


